 
Homework-5.2.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Homework-5.2.xcodeproj/project.xcworkspace/xcuserdata/andrejneverovskij.xcuserdatad/UserInterfaceState.xcuserstate
Homework-5.2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Homework-5.2.xcodeproj/xcuserdata/andrejneverovskij.xcuserdatad/xcschemes/xcschememanagement.plist
